BOT_TOKEN=8621305645:AAGIJom8X1d2Tkttu-iQQITR5wAWCn3Ug60
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/telegram_vpn_shop
REDIS_URL=
FSM_STORAGE=memory
ADMIN_IDS=123456789,987654321
SUPPORT_USERNAME=your_support_username
PAYMENT_CARD_NUMBER=0000-0000-0000-0000
PAYMENT_CARD_HOLDER=نام صاحب کارت
PAYMENT_DESCRIPTION=پرداخت سفارش اشتراک VPN
ORDER_EXPIRE_MINUTES=15
